{% extends 'marketing_site/base.html' %}
{% block content %}
<section class="about-us-section">
<div class="container">
    <h2 class="text-center color1 mb-5" style="margin-top: -40px;">
        О компании Проект Экспо
    </h2>
    <blockquote class="blockquote">
        <p>Проект Экспо - это маркетинговое агентство, специализирующееся на продвижении 
            брендов и услуг в Интернете. Компания предоставляет широкий спектр услуг, 
            включая разработку стратегии маркетинга, создание сайтов, продвижение в 
            социальных сетях, контекстную рекламу, SEO-оптимизацию и другие виды 
            интернет-маркетинга.
            Проект Экспо имеет богатый опыт работы с различными бизнесами и организациями, 
            как малыми и средними предприятиями, так и крупными корпорациями. Компания 
            гарантирует индивидуальный подход к каждому клиенту, а также результативные 
            маркетинговые кампании, которые помогут увеличить узнаваемость бренда и 
            привлечь новых клиентов.
            Команда профессионалов включает в себя экспертов по маркетингу, дизайнеров, 
            копирайтеров, программистов и аналитиков, которые работают вместе для 
            достижения целей клиентов. Проект Экспо стремится стать надежным партнером 
            для бизнеса и оказать всестороннюю поддержку в интернет-маркетинге.</p>
        <p>Наша компания была основана в 2010 году и с тех пор мы успешно работаем 
            на рынке маркетинговых услуг. Мы гордимся нашей репутацией и нашими 
            достижениями в области маркетинга.</p>
    </blockquote>
    <h2 class="text-uppercase color1 mt-5 mb-5">Наши сотрудники</h2>
    <div class="row d-flex">
        {% for employee in employees %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <div class="row p-3">
                <div class="col-6">
                    <img src="{{ employee.img.url }}" class="itd_circle mx-auto d-block" style="width: 150px; height: 150px;" alt="{{ employee.fullname }}">
                </div>
                <div class="col-6">
                    <h4 class="text-center mb-3 mt-3">{{ employee.fullname }}</h4>
                    <h5 class="text-center text-muted mb-3 mt-3">{{ employee.position }}</h5>
                </div>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <p class="card-text blockquote">{{ employee.description }}</p>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
    <h2 class="text-uppercase color1 mt-5 mb-5">Наши преимущества</h2>
    <div class="row d-flex">
        {% for advantage in advantages %}
        <div class="col-md-4 mb-4">
        <div class="new-card">
            <div class="thumbnail">
                <div class="image">
                    <img src="{{ advantage.img.url }}" alt="{{ advantage.title }}">
                    <p class="image-desc">{{ advantage.description }}</p>
                </div>
            </div>
            <div class="card-container p-3">
              <h6><b>{{ advantage.title }}</b></h6>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>
{% endblock %}