{% extends 'marketing_site/base.html' %}
{% block content %}
<section class="about-us-section">
    <div class="container">
        <h2 class="text-center color1 mb-5" style="margin-top: -40px;">
            О компании Проект Экспо
        </h2>
        <blockquote class="blockquote">
            <p>Проект Экспо - это маркетинговое агентство, специализирующееся на продвижении 
                брендов и услуг в Интернете. Компания предоставляет широкий спектр услуг, 
                включая разработку стратегии маркетинга, создание сайтов, продвижение в 
                социальных сетях, контекстную рекламу, SEO-оптимизацию и другие виды 
                интернет-маркетинга.
                Проект Экспо имеет богатый опыт работы с различными бизнесами и организациями, 
                как малыми и средними предприятиями, так и крупными корпорациями. Компания 
                гарантирует индивидуальный подход к каждому клиенту, а также результативные 
                маркетинговые кампании, которые помогут увеличить узнаваемость бренда и 
                привлечь новых клиентов.
                Команда профессионалов включает в себя экспертов по маркетингу, дизайнеров, 
                копирайтеров, программистов и аналитиков, которые работают вместе для 
                достижения целей клиентов. Проект Экспо стремится стать надежным партнером 
                для бизнеса и оказать всестороннюю поддержку в интернет-маркетинге.</p>
            <p>Наша компания была основана в 2010 году и с тех пор мы успешно работаем 
                на рынке маркетинговых услуг. Мы гордимся нашей репутацией и нашими 
                достижениями в области маркетинга.</p>
        </blockquote>
    </div>
    
</section>
{% endblock %}